body {
    background-color: #ADD8E6;
    font-size: 14px;
    font-family: sans-serif;
}

#main {
    width: 430px;
    margin: 0px auto;
    
}
img {
    width:200px;
    padding-bottom: 20px;
    padding-top: 20px;
    height:60px;
    margin: 10px 0px 10px 100px;
}

#layout {
    background-color: #fff;
    border-radius: 20px 20px 20px 0px;
}
.formhead {
    text-align: center;
    padding: 10px 0px 0px 0px;
    height: 80px;
}
h1 {
    color: navy;
    font-size: 160%;
    padding: 30px 0px 10px 0px;
    height: 5px;

}
label, input {
    display: block;
}

form {
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 30px 10px;
    overflow-y: auto;
    
}
input {
    width: 350px;
    height: 50px;
    background-color: rgb(225,225,225);
    border-radius: 5px;
    padding-left: 15px;
    border: none;
    font-size: 120%;
    
}
label {
    margin: 30px 10px 10px 0px;
    font-weight: bold;
}
.select {
    display: flex;
    width: 340px;
    height: 50px;
    background-color: rgb(224,224,224);
    border-radius: 10px;
    padding-left: 25px;
    overflow: hidden;
    align-items: center;
    
}


.selectbox {
   background-color: rgb(224,224,224);
   overflow: auto;
   border: none;
   justify-content: space-between;
   position: relative;
    width: 320px;
    height: 25px;
    font-size: 120%;
}
#createaccount {
    background-color: blue;
    height: 50px;
    width: 350px;
    margin: 30px 0px 20px;
    border-radius: 7px 7px 7px 0px;
    font-size: 120%;
    font-weight: bold;
    color: white;
}
#createaccount:hover {
    background-color: navy;
}
#footer {
    text-align: center;
    margin: 30px 0px 30px;
    font-size: 90%;
    color: red;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: grey;
}